<template>
  <div class="add-issue">
    <div class="text-input">
      <label for="issueLink"></label>
      <input name="issueLink" id="issueLink" type="text" v-model="issueLink" />
    </div>
    <button @click="handleAdd">Add Issue</button>
  </div>
</template>

<script>
export default {
  name: "AddIssue",
  data: () => ({
    issueLink: "",
  }),
  computed: {
    issueIid() {
      const [lastSection] = this.issueLink.split("/").slice(-1);
      const [issueIid] = lastSection.split("#");
      return issueIid;
    },
  },
  methods: {
    handleAdd() {
      if (isNaN(this.issueIid)) {
        // There's something wrong with this link
        // Show an error
      } else {
        this.$emit("add", this.issueIid);
      }
    },
  },
};
</script>

<style scoped>
.add-issue {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr auto;
  padding: 0 2rem 0 1rem;
}

[type="text"] {
  padding: 0.5rem;
  width: 100%;
}
</style>
