<template>
  <div class="issue-item">
    <header class="header">
      <h4 class="issue-title">
        <a :href="url" target="_blank" rel="noopener noreferrer">{{ title }}</a>
      </h4>
      <div v-if="removable">
        <button @click="remove" class="remove nodrag" type="button">
          Remove
        </button>
      </div>
    </header>
    <div class="labels" v-if="labels.length">
      <div
        class="label"
        v-for="label in labels"
        :key="label.id"
        :style="{ color: label.textColor, backgroundColor: label.color }"
      >
        {{ label.title }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "IssueItem",
  props: {
    title: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: true,
    },
    url: {
      type: String,
      required: true,
    },
    labels: {
      type: Array,
      required: false,
      default: () => [],
    },
    removable: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  methods: {
    remove() {
      this.$emit("remove", this.id);
    },
  },
};
</script>

<style scoped>
.issue-item {
  background: var(--white, #fff);
  border-radius: 0.25rem;
  border: 1px solid var(--gray-100, #dbdbdb);
  box-shadow: 0 1px 2px rgba(var(--black, #000), 0.1);
  cursor: grab;
  line-height: 16px;
  list-style: none;
  margin-bottom: 8px;
  padding: 1rem;
  position: relative;
  text-align: left;
}

.header {
  display: flex;
  justify-content: space-between;
}

.issue-title {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}

.issue-title a {
  color: var(--gray-900, #303030);
  text-decoration: none;
}

.issue-title a:hover {
  text-decoration: underline;
}

.labels {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.label {
  background-color: #09c;
  border-radius: 99em;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1.2rem;
  margin: 0 4px 4px 0;
  padding: 0 0.75em;
}

.remove {
  background: #dd2b0e;
  font-size: 0.618rem;
}

.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.3;
}
.fallback {
  box-shadow: 0 0.7em 1em rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
</style>
