<template>
  <div class="board">
    <h1>All Issues</h1>
    <div class="issue-list">
      <draggable
        @start="drag = true"
        @end="drag = false"
        :force-fallback="true"
        animation="200"
        ghost-class="ghost"
        fallback-class="fallback"
        :list="issues"
        :group="{ name: 'issues', pull: 'clone', put: 'false' }"
        :clone="cloneIssue"
      >
        <transition-group type="transition" :name="!drag ? 'flip-list' : null">
          <issue-item
            v-for="issue in issues"
            :key="issue.iid"
            :id="issue.id"
            :title="issue.title"
            :url="issue.webUrl"
            :labels="issue.labels && issue.labels.nodes"
          />
        </transition-group>
      </draggable>
    </div>
  </div>
</template>

<script>
import Draggable from "vuedraggable";
import issuesQuery from "@/graphql/getIssuesFromBoard.gql";
import IssueItem from "./IssueItem.vue";

export default {
  components: { Draggable, IssueItem },
  name: "IssueList",
  data: () => ({
    issues: [],
    drag: false,
  }),
  apollo: {
    issues: {
      query: issuesQuery,
      update: (data) => data.project.board.lists.nodes[0].issues.nodes,
      variables: {
        project: process.env.VUE_APP_GL_PROJECT,
        boardId: process.env.VUE_APP_GL_BOARD_ID,
        listId: process.env.VUE_APP_GL_LIST_ID,
      },
    },
  },
  methods: {
    cloneIssue(issue) {
      return issue;
    },
  },
};
</script>

<style scoped>
.issue-list {
  max-height: 86vh;
  overflow: scroll;
  padding: 1rem;
}
.board {
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 0.25rem;
}
</style>
