<template>
  <div class="log-in">
    <h1>Log In</h1>
    <p>You need to authenticate with GitLab to continue</p>
    <button @click="login">Log In</button>
  </div>
</template>

<script>
export default {
  name: "LogIn",
  methods: {
    login() {
      const APP_ID = process.env.VUE_APP_ID;
      const REDIRECT_URI = process.env.VUE_APP_URI;

      window.location.href = `https://gitlab.com/oauth/authorize?client_id=${APP_ID}&redirect_uri=${REDIRECT_URI}&response_type=token`;
    },
  },
};
</script>

<style scoped></style>
