<template>
  <div class="board">
    <h1>Priorities</h1>
    <add-issue @add="addIssue" />
    <div class="issue-list">
      <draggable
        @start="drag = true"
        @end="drag = false"
        :force-fallback="true"
        animation="200"
        ghost-class="ghost"
        fallback-class="fallback"
        filter=".nodrag"
        :list="issues"
        :group="{ name: 'issues', put: dedupe }"
        :empty-insert-threshold="100"
      >
        <transition-group type="transition" :name="!drag ? 'flip-list' : null">
          <issue-item
            v-for="issue in issues"
            :key="issue.iid"
            :id="issue.id"
            :title="issue.title"
            :url="issue.webUrl"
            :labels="issue.labels && issue.labels.nodes"
            @remove="removeIssue"
            :removable="true"
          />
        </transition-group>
      </draggable>
    </div>

    <div class="progress-button" :class="{ isSaving, justSaved }">
      <button class="save" @click="save" :disabled="isSaving">Submit</button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="spinner"
        viewBox="0 0 14 14"
      >
        <g fill="none" fill-rule="evenodd">
          <circle cx="7" cy="7" r="6" stroke="#eee" stroke-width="2" />
          <path
            fill="#222"
            fill-rule="nonzero"
            d="M7 0a7 7 0 0 1 7 7h-2a5 5 0 0 0-5-5V0z"
          />
        </g>
      </svg>

      <svg
        class="checkmark"
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6.701 1.08a.75.75 0 0 0-.934-.5A7.75 7.75 0 0 0 .573 5.785a.75.75 0 1 0 1.438.429 6.25 6.25 0 0 1 4.188-4.199.75.75 0 0 0 .502-.934Zm2.598 0a.75.75 0 0 1 .934-.501 7.75 7.75 0 0 1 5.194 5.206.75.75 0 1 1-1.438.429 6.25 6.25 0 0 0-4.188-4.199.75.75 0 0 1-.502-.934Zm2.481 4.14a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 0 1-1.06 0L4.47 9.03a.75.75 0 0 1 1.06-1.06l1.22 1.22 3.97-3.97a.75.75 0 0 1 1.06 0Zm-1.547 10.2a.75.75 0 1 1-.432-1.436 6.251 6.251 0 0 0 4.188-4.199.75.75 0 1 1 1.438.429 7.75 7.75 0 0 1-5.194 5.206Zm-4.466 0a.75.75 0 1 0 .432-1.436 6.25 6.25 0 0 1-4.188-4.199.75.75 0 1 0-1.438.429 7.75 7.75 0 0 0 5.194 5.206Z"
          fill="#2a9b2a"
        />
      </svg>
    </div>
  </div>
</template>

<script>
import Draggable from "vuedraggable";
import stackRankQuery from "@/graphql/getStackRank.gql";
import saveStackMutation from "@/graphql/saveStack.gql";
import getIssuesByIid from "@/graphql/getIssuesByIid.gql";
import IssueItem from "./IssueItem.vue";
import AddIssue from "./AddIssue.vue";

export default {
  components: { Draggable, IssueItem, AddIssue },
  name: "StackRank",
  data: () => ({
    stackRank: [],
    drag: false,
    isSaving: false,
    justSaved: false,
  }),
  apollo: {
    stackRank: {
      query: stackRankQuery,
      update: (data) => {
        const raw = data.project.repository.blobs.nodes[0].rawBlob;
        const stack = JSON.parse(raw);
        return stack["stack_rank"];
      },
    },
    issues: {
      query: getIssuesByIid,
      update(data) {
        const unsorted = data.project.issues.nodes;
        const sorted = this.stackRank.map(({ id }) =>
          unsorted.find((node) => node.id === id)
        );

        return sorted;
      },
      variables() {
        return {
          project: process.env.VUE_APP_GL_PROJECT,
          issueIids: this.stackRank.map(({ iid }) => iid),
        };
      },
      skip() {
        return this.stackRank.length <= 0;
      },
    },
  },
  methods: {
    save() {
      this.isSaving = true;
      const content = JSON.stringify({
        stack_rank: this.issues.map(({ id, iid }) => ({ id, iid })),
      });

      this.$apollo
        .mutate({
          mutation: saveStackMutation,
          variables: { content },
        })
        .then((response) => {
          this.isSaving = false;
          this.justSaved = true;
          setTimeout(() => {
            this.justSaved = false;
          }, 1000);
          console.log(response.data.commitCreate.commit);
        });
    },
    dedupe(_t, _f, dragEl) {
      return (
        !this.issues
          .map(({ iid }) => iid)
          .includes(dragEl._underlying_vm_.iid) || this.drag
      );
    },
    removeIssue(issue) {
      this.issues = this.issues.filter(({ id }) => id !== issue);
    },
    addIssue(issueIid) {
      console.log(process.env.VUE_APP_GL_PROJECT);
      this.$apollo
        .query({
          query: getIssuesByIid,
          variables: {
            issueIids: [issueIid],
            project: process.env.VUE_APP_GL_PROJECT,
          },
        })
        .then(({ data }) => {
          const [issue] = data.project.issues.nodes;
          this.issues.push(issue);
        });
    },
  },
};
</script>

<style scoped>
.issue-list {
  max-height: 80vh;
  overflow: scroll;
  padding: 1rem;
}
.board {
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 0.25rem;
}
.progress-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.save:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.isSaving .save,
.justSaved .save,
.checkmark,
.spinner {
  display: none;
}

.isSaving .spinner,
.justSaved .checkmark {
  display: block;
}

@keyframes gl-spinner-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation-name: gl-spinner-rotate;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.checkmark,
.spinner {
  width: 2rem;
  height: 2rem;
}
</style>
