<template>
  <div id="app">
    <div class="lists" v-if="isLoggedIn">
      <issue-list />
      <stack-rank />
    </div>
    <log-in v-else />
  </div>
</template>

<script>
import IssueList from "./components/IssueList.vue";
import StackRank from "./components/StackRank.vue";
import LogIn from "./components/LogIn.vue";

const ACCESS_TOKEN = "GL_SR_AT";

export default {
  name: "App",
  components: {
    IssueList,
    LogIn,
    StackRank,
  },
  created() {
    if (this.accessToken) {
      window.localStorage.setItem(ACCESS_TOKEN, this.accessToken);
      window.location.hash = "";
    }
  },
  computed: {
    accessToken() {
      const match = window.location.hash.match(/access_token=([^&]*)&/);

      return match && match.length >= 1 ? match[1] : "";
    },
    isLoggedIn() {
      return Object.prototype.hasOwnProperty.call(
        window.localStorage,
        ACCESS_TOKEN
      );
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

button {
  background: #1f75cb;
  border-radius: 0.25rem;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 1rem;
  padding: 0.5rem 0.75rem;
}
</style>
